/* Do whatever you want if you wanna make it more readable, sorry for not knowing how to make CSS 
   sheets easy to read :( - Azavier */

* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;

    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    transition: all 0.3s ease-in-out;
}

:root { /* Using the :root element will allow us to change the theme of the website easier later. Also very convenient. */
    --background-col: #011627;
    --foreground-col: #252946;
    
    --name-col: #4285f4;
    --name-bubble-col: var(--name-col); /* Example of a "half-hidden" user-variable with a default value. if modified by SetPref, the effect will only show on the Dashboard. */
    /* (it's "half hidden" bc it's on the "PER_PAGE_PREFS" list in "userprefs.js" so the effect only shows up on a specific page) */
    --text-col: #dee2ef;
    --text-selected-col: #c3c7d4;
    
    
    --nav-width: 7.5rem;
    --nav-collapsed-width: 10%;

    --collapsed-mouseover-width-percentage: 0.3; /* 30% collapsed. 0 = 0% collapsed. */
    --collapsed-mouseover-width: calc(var(--nav-width) * (1 - clamp(0, var(--collapsed-mouseover-width-percentage), 1))); /* Example of a "fully hidden" variable with user-editable data used for calculation */
    /* (it's "fully hidden" bc it's not on either of the lists in "userprefs.js" so it is impossible to modify with SetPref) */
} /* See index.html if you're confused about how to use :root */

body {
    background-color: var(--background-col);
}

nav {
    position: absolute;
    top: 0;
    bottom: 0;

    width: var(--nav-width);
}

main {
    width: calc(100vw - var(--nav-width));
    height: 100vh;

    position: absolute;
    right: 0;
}

nav div {
    transition: all 0.4s ease-out;

    height: 100%;
    padding: 0.2em;
    
    background-color: var(--foreground-col);
}

nav a {
    cursor: pointer;
    user-select: none;

    color: var(--text-col);
    text-decoration: none;

    width: 100%;
    margin: 0 0 1rem;
    text-align: center;

    height: 2.5em;
    display: inline-grid;
    align-content: center;

    transition: all 0.1s ease-in-out;
}

nav a:hover,
nav a:focus {
    color: var(--text-selected-col);
    transform: scale(1.05);
}

nav a:active {
    transform: scale(1);
}

.thisPage { /* makes it more obvious that you can't go to the page you're already on */
    transform: scale(1.05);
    cursor: default;
}

#appname-element {
    color: var(--name-col);
    font-size: x-large;

    margin: 1rem 0 4.5rem;
    height: 1.25em;

    display: flex;
    justify-content: center;
    align-items: center;
}
#appname-element::before { /* this is the bubble before the app name in the navbar */
    content: '';

    border-radius: 50%;
    background-color: var(--name-bubble-col);

    height: 65%;
    aspect-ratio: 1;

    margin-right: 0.225em;
}

@media screen and (max-width: 743px) { /* kicks in when the navbar needs to be hidden */
    nav {
        z-index: 1;
        width: var(--collapsed-mouseover-width);
    }

    nav div {
        width: var(--nav-width);
        position: absolute;
        transform: translateX(calc(var(--nav-collapsed-width) - 100%));
    }

    nav:hover div,
    nav:focus-within div {
        transform: translateX(0);
    }

    main {
        width: calc(100vw - var(--collapsed-mouseover-width));
    }
}